<header id="header" class="reveal">
  <h1 id="logo"><a [routerLink]="['']">Musicorum</a></h1>

  <nav id="nav">

    <ul>
      <li><a [routerLink]="['']">Home</a></li>
      <li><a [routerLink]="['/search']"> Search </a></li>
      <li class="submenu">

        <a *ngIf = "!isLoggedIn" href="#">Sign Up / Login </a>
        <ul>
          <li><a *ngIf = "!isLoggedIn" [routerLink]="['login']"> Log In </a></li>
          <li><a *ngIf = "!isLoggedIn" [routerLink]="['signup']">Sign Up</a></li>
        </ul>
      </li>
      <li *ngIf="isLoggedIn">
        <a (click)="logout()" href="#0"> Log Out </a>
      </li>
      <li *ngIf="isLoggedIn">
        <a [routerLink]="['saved']" href="#"> Saved Songs </a>
      </li>
    </ul>

  </nav>
</header>
