.error-message {
  color: red;
  margin-top: 0.5em;
  margin-bottom: 0;
}

.error-button {
  background-color: rgb(153, 27, 8);
  color: black;
}

.success-message {
  color: #11c645;
  margin-top: 0.5em;
  margin-bottom: 0;
}

.success-button {
  background-color: #4dbc65;
  color: black;
}

a {
  margin-bottom: 15px;
  border: 1px solid #96DAD1;
  border-radius: 100px;
  width: 60%;
  display: inline-block;
  padding: 4px;
  background-color: #96DAD1;
  color: white;
  text-transform: uppercase;
  font-size: .7em;
}
h3 {
  font-size: 1em;
  margin-bottom: 10px;
}

h5 {
  font-size: 0.8em;
  margin-bottom: 15px;
}


.button {
  padding: 0.25em;
  line-height: 2.5em;
  min-width: 16em;
}
