.error-message {
  color: red;
  margin-top: 0.5em;
  margin-bottom: 0;
}

.error-button {
  background-color: rgb(126, 16, 0);
  color: black;
}

.success-message {
  color: rgb(35, 93, 42);
  margin-top: 0.5em;
  margin-bottom: 0;
}

.success-button {
  background-color: rgb(49, 133, 32);
  color: black;
}
