<!--
  ".inner" is set up as an inline-block so it automatically expands
  in both directions to fit whatever's inside it. This means it won't
  automatically wrap lines, so be sure to use line breaks where
  appropriate (<br />).
-->
<div class="inner">

  <header>
    <h2>
      Find Your Song <br>

      <small>By Lyrics</small>
    </h2>
  </header>

  <p>
    Type in a line, or a couple words <br>
    from the song and find it instantly.
  </p>
  <button (click)="changeSearch()" class="button swap scrolly" > Or Search by Track/Artist... </button>
  <input [(ngModel)]="searchTerm" type="text" name="" value="" class='search'>
  <footer>
    <ul class="buttons vertical">
      <li><a href="#main" id="search-btn" (click)="findSongByLyric(searchTerm)" class="button fit scrolly">Search</a></li>
    </ul>
  </footer>

</div>
