<article id="main">

  <section *ngIf="artistInfo" class="wrapper style3 container special">

  <h2> <i> {{artistInfo.artist_name}} </i> </h2>
  <h3> <b>Country:</b> {{ artistInfo.artist_country | countryCode }} </h3>
  <h4> <b>Genre:</b> {{ artistGenre }} </h4>

  <!-- <masonry  [options]="myOptions">
    <div class="grid-sizer col-xs-12 col-sm-6 col-md-4"></div>
    <div *ngFor="let oneSong of topTracks">
      <app-result [songInfo]="oneSong"></app-result>
    </div>
  </masonry> -->

  </section>
</article>
