<article id="main">



					<header class="special container">
						<span class="icon fa-bookmark-o"></span>
						<div class="row">

								<div class="col-xs-12 col-sm-8">
								<h2> Saved Songs </h2>
								<p> This is where you can save all your songs you find while searching.
		                <br>
		                Can't listen to a song quite yet? Want to make sure you find a specific song later?
		                <br>
		                Just add it to your favorites, and you can find them all here.
										<br>
										To the left are suggested artists based on your current favorites.
		            </p>
							</div>

							<app-related class="col-xs-12 suggested col-sm-4"></app-related>
							</div>
					</header>



					<!-- One -->
						<section class="wrapper style3 container">

							<!-- Content -->
								<div class="content">
									<h2> Saved Songs </h2>
									<div *ngIf="user.favorites">
										<p *ngIf="!user.favorites.length > 0 "> No Saved Songs, start browsing to save songs. </p>
										<masonry class="masonry-container" [options]="myOptions">
											<div class="grid-sizer col-xs-12 col-sm-6 col-md-4"></div>

											<div  *ngFor="let oneSong of user.favorites">
												<app-saved-results (onSongDelete)="setUser($event)" [oneSong]="oneSong"></app-saved-results>
											</div>

										</masonry>
									</div>
								</div>

						</section>

				</article>

			<!-- Footer -->
				<footer id="footer">

					<ul class="icons">
						<li><a class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a class="icon circle fa-google-plus"><span class="label">Google+</span></a></li>
						<li><a class="icon circle fa-github"><span class="label">Github</span></a></li>
					</ul>

					<ul class="copyright">
						<li>&copy; Musicorum </li><li> Powered by the Musixmatch API </li>
					</ul>

				</footer>
