<article id="main">



					<header class="special container">
						<span class="icon fa-bookmark-o"></span>
						<div class="row">

								<div class="col-xs-8">
								<h2> Saved Songs </h2>
								<p> This is where you can save all your songs you find while searching.
		                <br>
		                Can't listen to a song quite yet? Want to make sure you find a specific song later?
		                <br>
		                Just add it to your favorites, and you can find them all here.
		            </p>
							</div>

							<div class="suggested col-xs-4">
								<h2> Suggested Artists </h2>
								<div *ngFor = "let oneArtist of relatedArray">
									<a> {{oneArtist.artist.artist_name}} </a>
								</div>
							</div>
						</div>
					</header>



					<!-- One -->
						<section class="wrapper style4 container">

							<!-- Content -->
								<div class="content">
									<h2> Saved Songs </h2>

									<masonry *ngIf="user" [options]="myOptions" data-masonry='{ "horizontalOrder": true}'>
										<div class="grid-sizer col-xs-12 col-sm-6 col-md-4"></div>

										<masonry-brick class="brick col-xs-12 col-sm-6 col-md-4 grid-item" *ngFor="let oneSong of user.favorites">
											<li class="song-info">

												<div class="song-text">
													<h3> "{{ oneSong.songTitle}}" </h3>
													<h4> -{{oneSong.songArtist}} </h4>
													<!-- <h4 *ngIf="oneSong.track.primary_genres.music_genre_list.length > 0"> {{oneSong.track.primary_genres.music_genre_list[0].music_genre.music_genre_name}} </h4> -->

													<a [href]="oneSong.lyricUrl" target="_blank"> Lyrics </a><br>
													<a class='youtubeLink' href="https://www.youtube.com/results?search_query={{ oneSong.songTitle}} by {{oneSong.songArtist}}" target="_blank"> Find on Youtube </a><br>
													<a href="https://www.amazon.com/s/ref=nb_sb_noss_2?url=search-alias%3Ddigital-music&field-keywords={{ oneSong.songTitle}} by {{oneSong.songArtist}}" target="_blank"> Get it On Amazon </a><br>

												</div>
											</li>
										</masonry-brick>
									</masonry>
								</div>

						</section>

				</article>

			<!-- Footer -->
				<footer id="footer">

					<ul class="icons">
						<li><a href="#" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon circle fa-google-plus"><span class="label">Google+</span></a></li>
						<li><a href="#" class="icon circle fa-github"><span class="label">Github</span></a></li>
						<li><a href="#" class="icon circle fa-dribbble"><span class="label">Dribbble</span></a></li>
					</ul>

					<ul class="copyright">
						<li>&copy; Musicorum </li><li> Use of Musixmatch API </li>
					</ul>

				</footer>
