
			<!-- Banner -->
				<section class="home-banner" id="banner">

					<div class="inner">

						<header>
							<h2>Musicorum</h2>
						</header>
						<p> Forgot a song name? Find songs
						<br />
						by either lyrics, artist, or track
						<br />
						<footer>
							<ul class="buttons vertical">
								<li><a href="#main" class="button fit scrolly">Tell Me More</a></li>
							</ul>
						</footer>

					</div>

				</section>

			<!-- Main -->
				<article id="main">

					<header class="special container">
						<span class="icon fa-search"></span>
						<h2>With this application you can easily find music
						<br />
						you've forgotten, and save it in, one convient, place.</h2>
						<p>Using the MusixMatch API, you can look up a song using only a line of lyrics
						<br />
						from any given song. You can also search song by artist and track name.
						<br />
						By signing up you can save these songs, allowing you to easily find and look up your favorites.</p>
            <ul class="buttons">
              <li><a [routerLink]="['/search']" class="button"> Start Searching Now! </a></li>
              <p *ngIf="!isLoggedIn" class="or"> Or... </p>
              <li *ngIf="!isLoggedIn"><a [routerLink]="['/signup']" href="#" class="button"> Sign Up </a></li>
            </ul>


					</header>

					<section class="wrapper style3 container special">

					<h2> Top Tracks in the US </h2>

					<masonry  [options]="myOptions">
						<div class="grid-sizer col-xs-12 col-sm-6 col-md-4"></div>
						<div *ngFor="let oneSong of topTracks">
							<app-result [songInfo]="oneSong"></app-result>
						</div>
					</masonry>

				</section>
			</article>
				<footer id="footer">

					<ul class="icons">
						<li><a class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a class="icon circle fa-google-plus"><span class="label">Google+</span></a></li>
						<li><a class="icon circle fa-github"><span class="label">Github</span></a></li>
					</ul>

					<ul class="copyright">
						<li>&copy; Musicorum </li><li> Powered by the Musixmatch API </li>
					</ul>

				</footer>
