
	<!-- Banner -->
	<section id="banner">


		<app-by-lyric *ngIf="display === 'lyricSearch'" (onSwap)="changeSearch($event)" (onSearch)="displayResults($event)"></app-by-lyric>
		<app-by-track *ngIf="display === 'trackSearch'" (onSwap)="changeSearch($event)" (onSearch)="displayResults($event)"></app-by-track>

	</section>

	<!-- Main -->
	<article id="results">
		<a name="results"></a>


		<header class="special container">
			<span class="icon fa-music"></span>
			<h2>Your Results </h2>
			<h3 *ngIf="newList.length <= 0"> --- No Songs Found --- </h3>

			<masonry  [options]="myOptions" data-masonry='{ "horizontalOrder": true}'>
				<div class="grid-sizer col-xs-12 col-sm-6 col-md-4"></div>
				<div *ngFor="let oneSong of newList">
					<app-result [songInfo]="oneSong"></app-result>
				</div>
			</masonry>

		</header>
	</article>
